In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
from nltk import word_tokenize

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dellb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
df=pd.read_csv('datasets/bbc_text_cls.csv')

In [6]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [7]:
## word to index
idx=0
word2idx={}
tokenized_docs=[]
for doc in df['text']:
    words=word_tokenize(doc.lower())
    doc_as_int=[]
    for word in words:
        if word not in word2idx:
            word2idx[word]=idx
            idx+=1
        
        #save for later
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [14]:
doc_as_int[:5]

[4586, 18792, 40, 104, 2054]

In [18]:
tokenized_docs[len(tokenized_docs)-1][:5]

[4586, 18792, 40, 104, 2054]

In [22]:
# word2idx

In [8]:
##reverse mapping
idx2word={v:k for k,v in word2idx.items()}

In [9]:
# number of documents
N=len(df['text'])

In [10]:
#number if words
V=len(word2idx)

In [72]:
#term-frequency matrix
#can also be done by count vectorizer
tf=np.zeros((N,V))

In [73]:
for i,doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j]+=1

In [74]:
tf

array([[1., 4., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [75]:
#compute idf
document_freq=np.sum(tf>0,axis=0)
idf= np.log(N/document_freq)

In [76]:
idf

array([5.22260554, 2.3893922 , 2.86332511, ..., 7.70751219, 7.70751219,
       7.70751219])

In [77]:
# np.log(N/document_freq[0]),idf[0]

In [78]:
#compare tf-idf
tf_idf=tf*idf

In [79]:
# np.random.seed(123)

In [80]:
#pick random document, show the top 5 terms (in terms of tfidf scores)
# i=np.random.choice(N)
row=df.iloc[0]
print("label: ",row['labels'])
print("text: ",row['text'].split("\n",1)[0])
print("TOp 5 terms: ")

scores=tf_idf[i]
indices=(-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

label:  business
text:  Ad sales boost Time Warner profit
TOp 5 terms:
i
everquest
gaming
online
hours